<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container mt-4" id="page-content">
        <h2 class="mb-4">Anomaly Detection Solution </h2>
        <form action="{{ url_for('detect') }}" method="post"></form>
            <button type="submit" class="btn btn-primary">Detect Anomalies</button>
        </form>
    </div>

    <!-- Display results if they exist -->
    {% if predictions %}
        <div class="container mt-4">
            <h2>Results:</h2>
            <ul class="list-group">
                {% for prediction in predictions %}
                    <li class="list-group-item">{{ prediction }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% endblock %}