<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        
        <h3 class="mb-4">BSOD Crashes Analysis</h3>
        <br>
        <form action="{{ url_for('bsodcrashforecast') }}" method="post">
            <div class="row">
                <div class="col col-4">
                    <label for="crash_type" class="form-label">Select Crash Type:</label>
                    <select name="crash_type" id="crash_type" class="form-control">
                        <option value="tot_crash">Total Crashes</option>
                        {% for key, value in category_map.items() %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>       
            <br/>
            <div class="row">
                <div class="col col-2">
                    <label for="start_date"  class="form-label">Start Date:</label>
                    <input type="date" id="start_date" class="form-control" name="start_date" value="{{ default_start_date }}" required>
                </div>
                <div class="col col-2">
                    <label for="end_date" class="form-label">End Date:</label>
                    <input type="date" id="end_date" class="form-control" name="end_date" value="{{ default_end_date }}" required>
                </div>
            </div>    
            <br/>             
            <div class="row">
                <div class="col col-2">
                    <label for="exampleFormControlInput1" class="form-label">Forecast Period (Days):</label>
                    <input type="number" class="form-control" id="steps" name="steps" min="1" value="14" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}