<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container mt-4" id="page-content">
        <h2>Forecast Vs Actuals Ploting</h2>
        <!-- Container for the chart -->
        <div style="width: 75%;border-width: 1px;">
            <!--<canvas id="forecastChart"></canvas>-->
            <!-- Embed the image using the passed filename -->
                <img src="{{ url_for('static', filename=image_file) }}" alt="Daily Total Crashes">
        </div>
        <a class="btn btn-warning" href="/crashforecast">Reset</a>
    </div>

{% endblock %}
