<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        
        <h3 class="mb-4">System Crashes Analysis</h3>
        <br>
        <form action="{{ url_for('crashforecast') }}" method="post">
            
            <!--
            <div class="row">
                <div class="col col-4">
                    <label for="exampleFormControlInput1" class="form-label">Autoregressive (p):</label>
                    <input type="number" class="form-control" id="p" name="p" min="0" value="1">
                </div>
            </div>
            
            <div class="row">
                <div class="col col-4">
                    <label for="exampleFormControlInput2" class="form-label">Integrated (d):</label>
                    <input type="number" class="form-control" id="d" name="d" min="0" value="1" >
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <label for="exampleFormControlInput2" class="form-label">Moving Average (q):</label>
                    <input type="number" class="form-control" id="q" name="q" min="0" value="1" >
                </div>
            </div>
            -->
            <div class="row">
                <div class="col col-4">
                    <label for="exampleFormControlInput1" class="form-label">Forecast Period (Days):</label>
                    <input type="number" class="form-control" id="steps" name="steps" min="1" value="60" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}