<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container mt-4" id="page-content">
        <h2>Forecast Vs Actuals Ploting</h2>
        <!-- Container for the chart -->
        <div style="width: 75%;border-width: 1px;">
            <canvas id="forecastChart"></canvas>
        </div>
        <a class="btn btn-warning" href="/forecast">Reset</a>
    </div>
    <!-- Include Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Assuming 'predictions' is an array of predicted values
        // and 'actualValues' is an array of actual test values
        // passed from the Flask view to the template.
        // The predictions and actualValues are now lists and can be serialized to JSON
        const predictions = {{ predictions | tojson }};
        const actualValues = {{ actualValues | tojson }};
        // console.log(predictions);
        // console.log(actualValues);
        // const predictions = { predictions};
        // const actualValues = { actualValues};
        // Generate labels for the x-axis based on the number of predictions
        const labels = predictions.map((_, index) => `Day ${index + 1}`);

        // Set up the data for the chart
        const data = {
            labels: labels,
            datasets: [{
                label: 'Predicted Values',
                data: predictions,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }, {
                label: 'Actual Values',
                data: actualValues,
                fill: false,
                borderColor: 'rgb(255, 99, 132)',
                tension: 0.1
            }]
        };

        // Configuration options for the chart
        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        };

        // Create the chart
        const forecastChart = new Chart(
            document.getElementById('forecastChart'),
            config
        );
    </script>

{% endblock %}
