<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentinel Ops - Anomaly Detection</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optional Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.10/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sentinel OPS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4" id="page-content">
        <h2 class="mb-4">Anomaly Plotting </h2>
        <br>
        <form action="/forecast" method="post">
            <label for="p">Autoregressive (p):</label>
            <input type="number" id="p" name="p" min="0" value="1" required>
            <br>
            <label for="d">Integrated (d):</label>
            <input type="number" id="d" name="d" min="0" value="1" required>
            <br>
            <label for="q">Moving Average (q):</label>
            <input type="number" id="q" name="q" min="0" value="1" required>
            <br>
            
            <label for="steps">Forecast Period:</label>
            <input type="number" id="steps" name="steps" min="1" value="5" required>
            days
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>